{% if page.previous or page.next %}
  <nav class="pagination {{ include.position }}">
    {% if page.previous %}
      <a href="{{ page.previous.url | absolute_url }}" class="pagination--pager previous-post{% if include.position %}-{{ include.position }}{% endif %}" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}:<span class="post-title">{{ page.previous.title }}</span></a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | absolute_url }}" class="pagination--pager next-post{% if include.position %}-{{ include.position }}{% endif %}" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}:<span class="post-title">{{ page.next.title }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}